.header {
    background-color: #2D303A;
    color: #FFFFFF;
    height: 90px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

 .header__inner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo {
    width: 115px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

.menu {
    width: 371px;
    margin-left: 455px;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 9px;
    color: #FFFFFF;
}
