.header {
    box-sizing: border-box;
    border-bottom: 6px solid #323746;;
    background-color: #2D303A;
    color: #ffffff;
    height: 95px;
    box-shadow: 0 0 0 6px #323746;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

 .header__inner {
     position: relative;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
} 

.logo::after {
    content: "*";
    position: absolute;
    left: 150px;
    top: 29px;
    color: #f06c64;
}

.logo {
    width: 115px;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
}

.menu {
    width: 371px;
    margin-left: 455px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #FFFFFF;
    transition: ease 0.2s;
    position: relative;
}

.menu__link::before {
    content: "";
    display: block;
    position: absolute;
    color: white;
    border: 1px solid #494e62;
    top: 5px;
    left: -15px;
}

.menu__link:hover {
    color: #f06c64;
}

.wrapper_slider {
    background-color: #f06c64;
}

.main__slider {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper_slider {
    height: 600px;
}

.main__slider {
    padding-top: 53px;
    margin: 0 auto;
}

.iphone_vertical {
    margin-right: 70px;
    margin-left: 112px;
    position: relative;
}

.iphone_vertical::before {
    content: " ";
    position: absolute;
    background-image: url('assets/images/slide_left.png') no-repeat;
    width: 15px;
    height: 15px;
}

.iphone_horizontal {
    margin-bottom: 122px;
}

.slide_left {
    margin-left: 42px;
    margin-top: 287px;
}

.main__services {
    padding-left: 40px;
}

.services__header {
    width: 172px;
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

.services__info {
    width: 939px;
    color: #767e9e;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 51px;
}

.services__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.services-block {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 37px;
}

.services-block__header {
    height: 17px;
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    margin: 0px;
    margin-bottom: 15px;
}

.services-block__info {
    width: 220px;
    color: #767e9e;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0px;   
}

.services-block__logo {
    border-radius: 50%;
    width: 59px;
    height: 59px;
    border: 2px solid #666d89;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}