@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}


.header {
    box-sizing: border-box;
    border-bottom: 3px solid #323746;;
    background-color: #2D303A;
    color: #ffffff;
    height: 95px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 40px;
}

.header .wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 0px;
}

.header__inner {
    position: relative;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
} 

.sticky {
    background-color: #2D303A;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 59px;
    border: 0px;
}

.logo::after {
    content: "*";
    position: absolute;
    left: 110px;
    color: #f06c64;
}

.logo {
    width: 110px;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.menu {
    width: 371px;
    margin-left: 455px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #FFFFFF;
    transition: ease 0.2s;
    position: relative;
}

.menu__link::before {
    content: "";
    display: block;
    position: absolute;
    color: white;
    border: 1px solid #494e62;
    top: 5px;
    left: -15px;
}

.menu__link:hover {
    color: #f06c64;
}

.menu__link--active {
    color: #f06c64;
}

.main {
    display: flex;
    flex-direction: column;
}

.wrapper_slider {
    position: relative;
    height: 600px;
    background-color: #f06c64;
    transition: ease 0.5s;
    border-bottom: 6px solid #EA676B;
}

.main__slider {
    position: relative;
    padding-top: 53px;
    max-width: 1020px;
    margin: 0 auto;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    width: 100%;
}

.item-phones {
    width: 796px;
    padding-left: 100px;
    margin: 0 auto;
}

.iphone_vertical {

    transition: ease 0.3s;
    user-select: none;
    position: relative;
   
}

.home-1 {
    position: absolute;
    bottom: 38px;
    left: 86px;
    transition: ease .1s;
}

.home-2 {
    right: 407px;
    position: absolute;
    top: 85px;
    transition: ease .1s;
}

.home:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.black_horizontal {
    width: 333px;
    height: 188px;
    position: absolute;
    top: 14px;
    right: 65px;
    border-radius: 2px;
    background-color: black;
    transition: ease 0.4s;
   
}

.black_vertical {
    width: 188px;
    height: 333px;
    position: absolute;
    top: 65px;
    left: 14px;
    border-radius: 2px;
    background-color: black;
    transition: ease 0.4s;
}

.slide-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: ease 0.2s;
}

.hidden {
    display: none;
    transition: ease-out 0.2s;
}

.slide {
    display: flex;
    justify-content: space-between;
    top: 48%;
}

.slide-left {
    background-image: url('assets/images/slide_left.png');
    width: 16px;
    height: 27px;
    cursor: pointer;
    transition: ease 0.2s;
    position: absolute;
    top: 45%;
    left: 5%;
    right: auto;
}

.slide-right:hover {
    filter: brightness(.5);
}

.slide-left:hover {
    filter: brightness(.5);
}


.iphone_horizontal {
    margin-top: -28px;
    transition: ease 0.2s;
    height: 216px;
    width: 458px;
    user-select: none;
    position: relative;
    margin-left: 75px;
}

.slide-right {
    background-image: url('assets/images/slide_right.png');
    width: 16px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 5%;
    left: auto
}

.main__services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-top: 67px;
    box-sizing: border-box;
    height: 500px;
}

.services__header {
    width: 172px;
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    margin: 0px;
}

.services__info {
    width: 939px;
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 28px;
    text-align: justify;
    letter-spacing: -0.34px;
}

.services__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
}

.services-block {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 32px;
    margin-right: -2px;
}

.services-block__header {
    height: 17px;
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    margin: 0px;
    margin-bottom: 11px;
}

.services-block__info {
    width: 220px;
    height: 63px;
    color: #767e9e;
    font-family: 'Lato-Thin';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0px;   
    text-align: justify;
    overflow: hidden;
}

.services-block__logo {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    border: 2px solid #666d89;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.main_portfolio {
    height: 826px;
    background-color: #2d303a;
    margin: 0px;
    padding-top: 43px;
    border-bottom: 6px solid #323746;
    height: 869px;
    box-sizing: border-box;  
}

.portfolio_header {
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    margin-bottom: 27px;
}

.portfolio_info {
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    text-align: justify;
    letter-spacing: -0.35px;
}

.portfolio_tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    width: 289px;
}

.portfolio__tab {
    height: 22px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    cursor: pointer;
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 5px;
    letter-spacing: 0.47px;
    outline: none;
}

.portfolio__tab:hover {
    color: #dedede;
    border: 1px solid #dedede;
}

.portfolio__tab--active {
    color: #dedede;
    border: 1px solid #dedede;
}

.portfolio_block-images {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    overflow: hidden;
    height: 605px;
    width: 960px;
}

.block-image {
    cursor: pointer;
    margin: 0 20px 16px 0;
    user-select: none;
}

.block-image--active {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
    transition: ease 0.1s;
}

.about-us {
    height: 734px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-top: 45px;
}

.about-us__header {

    color: #666d89;
    font-family: "Lato-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
}

.about-us__info {
    color: #767e9e;
    font-family: 'Lato-Thin';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.15px;
    width: 937px;
}

.about-us__person-items {
    display: flex;
    flex-direction: row;
    margin-top: 46px;
}

.person-item {
    display: flex;
    flex-direction: column;
    width: 301px;
    margin-right: 18.5px;
}

.person-logos {
    display: flex;
    margin-top: 22px;
}

.name {
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    margin-top: 14px;
    margin-bottom: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 17px;
    width: 301px;
}

.person-info {
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
}

.icon {
    border-radius: 50%;
    border: 1px solid #666d89;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: ease 0.2s;
}

.icon:hover {
    background-color: #f0d8d9;
    border: 1px solid #d6564f;
}

.contacts {
    height: 654px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
    position: relative;
}

.contacts__header {
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    margin-top: 71px;
}

.contacts__text {
    width: 939px;
    color: #f0d8d9;
    font-family: 'Lato-Thin';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.15px;
}

.wrapper-form {
    display: flex;
    flex-direction: row;
    margin-top: 43px;
}

.form {
    margin-right: 18px;
}

fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.input {
    width: 604px;
    height: 38px;
    background-color: #d6564f;
    border: 0px;
    border-radius: 4px;
    padding-left: 12px;
    margin-bottom: 14px;
}

.input-description {
    height: 192px;
    resize: none;
    padding-top: 8px;
}

.input::placeholder {
    color: #f48c8f;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.contact-block {
    width: 301px;
    margin-top: 2px
}

.contact-block__info, .contact-block__links  a {
    color: #f0d8d9;
    font-family: 'Lato-Thin';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-decoration: none;
    text-align: justify;
}

.contact-block__header {
    color: #f0d8d9;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    margin: 0px 0px 11px 0px;
}

.contact-block__links {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}

.contact-link img {
    margin-right: 14px;
    margin-left: 2px;
}

.button-submit {
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
    font-family: "Lato-Regular";
    transition: ease .2s;
}

.button-submit:hover {
    filter: saturate(300%);
}
.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 22px;
}

.footer__info {
    color: #666d89;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    text-align: justify;
    margin-top: 13px;
}


.footer__logos {
    display: flex;
    flex-direction: row;
    padding-right: 73px;
}

.message-block {
    position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  text-align: center
}

.message {
    position: absolute;
    top: 21%;
    left: 46%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 30px;
    background-color: #F06C64;
}

.message p {
    width: 205px;
    color: #F0D8D9;
    font-family: 'Lato-Bold';
    margin-bottom: 16px;
    padding: 5px;
    background-color: #D6564F;
    border-radius: 3px;
    text-align: justify;
    letter-spacing: 1px;
}

.message button {
    height: 35px;
    width: 50px;
    border: 0px;
    border-radius: 5px;
    color: #f48c8f;
    background-color: #d6564f;
    font-family: "Lato-Regular";
    transition: ease .2s;
}

.message button:hover {
    filter: saturate(300%);
    color:#F0D8D9;
}

.input {
    color: #F0D8D9;
    outline: none;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}


.blue {
    background-color: #648BF0;
    border-bottom: 5px solid #3C5AA6;
    transition: 0.1s;
}

.s-active, .next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    position: absolute;
    width: 100%;
}

.photo {
    max-width: 300px;
    width: 33%%;
}

.photo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1019px) {
    .message {
        top: 10%;
        left: 30%;
    }

    .slide-2 img {
        max-height: 456px;
    }

    .photo {
        max-width: 218.94px;
    }

    .wrapper {
        width: 728px;

    }

    .header .wrapper {
        max-width: 728px;
        margin: 0 auto;
        padding-left: 0px;
    }
    
    .menu {
        margin-left: 0px;
    }

    .item-phones {
        width: 599.48px;
        height: 363.74px;
        padding-left: 85px;
        padding-right: 85px;
        margin: 0 auto;
    }

    .iphone_horizontal {
        margin-left: 54.42px;
    }

    .phone_hor {
        width: 364.21px;
        height: 180.93px;
    }

    .phone_vert {
        height: 364.21px;
        width: 180.93px;
    }

    .home {
        width: 31.48px;
        height: 31.48px;
    }

    .home-1 {
        bottom: 31px;
        left: 65px;
    }

    .home-2 {
        right: 326px;
        top: 65px;
    }

    .black_horizontal {
        width: 251px;
        height: 143px;
        top: 10px;
        right: 68px;
    }

    .black_vertical {
        height: 251px;
        width: 143px;
        top: 49px;
        left: 10px;
    }

    .wrapper_slider {
        height: 451.76px;
    }

    .main__slider {
        max-width: 768px;
    }

    .main__services {
        height: 674.24px;
        padding-top: 39.24px;
    }

    .services__info {
        width: 687px;
    }

    .services__blocks-wrapper {
        width: 687px;
        justify-content: space-between;
    }

    .main_portfolio {
        height: 1102px;
    }

    .portfolio_block-images {
        width: 768px;
        height: 794px;
    }

    .portfolio_info {
        width: 648px;
    }

    .block-image {
        width: 216.19px;
        height: 183.76px;
    }

    .about-us {
        height: 689px;
        padding-top: 37px;
    }

    .person-item {
        width: 219px;
        height: 360px;
    }

    .about-us__info {
        width: 688px;
    }

    .contacts {
        height: 631px;
    }

    .wrapper-form {
        margin-top: 20px;
    }

    .contacts__text {
        width: 689px;
    }

    .contact-block {
        width: 221px;
    }

    .input {
        width: 442px;
    }

    .input-description {
        height: 159px;
    }
}

.menu-btn-wrap {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
}

.menu-button {
    display: none;
    width: 25px;
    height: 20px;
    background-color: #2D303A;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

@media (max-width: 767px) {
    .message {
        left: 14%;
    }

    .wrapper {
        width: 100%;
        max-width: 343px;
        padding-left: 32px;
    }

    .header {
        height: 71px;
    }

    .menu__link {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 27px;
    }

    .logo {
        font-size: 19.6875px;
        line-height: 24px;
        margin-bottom: 0px;
    }

    .burger {
        margin-top: 24px;
        margin-right: 40px
    }

    .logo::after {
        left: 98px;
    }

    .header .wrapper {
        max-width: 375px;
        margin: 0 auto;
        padding-left: 0px;
    }

    .header__inner {
        justify-content: center;
        height: 71px;
    }

    .header--active {
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 278px;
        height: 100%;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 205px;
        margin-left: 71px;
        margin-top: 80px;
        font-size: 24px;
        line-height: 29px;
    }

    .menu-btn-wrap {
        display: block;
        top: 24px;
    }

    .menu-button {
        display: block;
        width: 25px;
        height: 20px;
        background-color: #2D303A;
        cursor: pointer;
        position: relative;
        transition: .3s;
    }

    .menu-button__active {
        transform: rotate(90deg);
    }

    .menu-button span {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2.4px;
        background: #FFFFFF;
    }

    .menu-button span::before,
    .menu-button span::after {
        content: '';
        display: block;
        transition: .5s;
        background: #FFFFFF;
        width: 20px;
        height: 2.4px;
    }

    .menu-button span::before {
        transform: translateY(-7px);
    }
    .menu-button span::after {
        transform: translateY(5px);
        height: 2.1px;
    }

    .menu__link::before {
        display: none;
    }

    .phone_vert {
        width: 88.3px;
        height: 177.61px;
    }

    .phone_hor {
        width: 177.61px;
        height: 88.3px;
    }

    .home {
        width: 15.37px;
        height: 15.37px;
    }

    .home-2  {   
        right: 160px;
        top: 32px;
    }

    .home-1 {
        bottom: 16px;
        left: 31px;
    }

    .slide-left {
        left: 2%;
    }

    .slide-right {
        right: 2%;
    }

    .black_vertical {
        height: 124px;
        width: 70px;
        top: 24px;
        left: 5px;
    }

    .black_horizontal {
        width: 124px;
        height: 70px;
        top: 5px;
        left: 22px;
    }

    .wrapper_slider {
        height: 220.6px;
    }

    .item-phones {
        width: 375.5px;
        height: 220.6px;
        margin: 0 auto;
        padding: 0px;
    }

    .main__slider {
        padding-top: 0px;
    }

    .iphone_horizontal {
        margin-left: 26.57px;
        height: 88.35px;
        width: 177.84px;
    }

    .main__services {
        height: 1032px;
        padding-top: 27px;
    }

    .services__info {
        width: 300px;
        height: 214px;
        margin-top: 20px;
        text-align: left;
    }

    .services__blocks-wrapper {
        width: 320px;
        margin-top: 25px;
    }

    .services-block {
        margin-bottom: 20px;
        height: 104px;
    }

    .main_portfolio {
        height: 844px;
    }

    .portfolio_header {
        margin-top: 0px;
    }

    .portfolio_info {
        width: 307px;
        text-align: left;
    }

    .portfolio_block-images {
        width: 342px;
        margin: 0px;
        height: 590px;
    }

    .block-image {
        width: 151px;
        height: 128px;
    }

    .about-us {
        height: 1754px;
        padding-top: 40px;

    }

    .about-us__header {
        margin-top: 0px;
    }

    .about-us__info {
        width: 295px;
        text-align: left;
    }

    .about-us__person-items {
        width: 315px;
        flex-direction: column;
        margin-top: 17px;
    }

    .photo {
        width: 314px;
        height: 314px;
    }

    .photo img {
        width: 314px;
        height: 314px;
    }

    .person-item {
        width: 314px;
        height: 440px;
        margin-bottom: 34px;
    }

    .person-logos {
        margin-top: 9px;
    }

    .contacts {
        height: 969px;
    }

    .contacts__text {
        width: 305px;
        text-align: left;
    }

    .wrapper-form {
        flex-direction: column;
    }

    .input {
        width: 302px;
    }

    .button-submit {
        width: 100%;
    }

    .contact-block {
        width: 313px;
    }

    .contact-block__info {
        width: 100%;
    }

    .contact-block__header {
        margin-top: 31px;
        margin-bottom: 5px;
    }

    .contact-block__links {
        margin-top: 10px;
    }

    .form {
        width: 315px;
    }

    .footer__info {
        display: none;
    }

    .footer__inner {
        justify-content: center;
        padding-right: 32px;
    }

    .footer__logos {
        padding: 0px;
    }

    .slide-2 img {
        max-height: 223px;
    }
}

@media (max-width: 374px) {
    .wrapper {
        max-width: 310px;
        padding-left: 10px;
    }

    .item-phones {
        width: 290px;
    }

    .iphone_horizontal {
        margin-left: 5px;
    }

    .slide-left {
        left: 1%
    }

    .slide-right {
        right: 1%;
    }

    .slide-2 img{
        max-width: 100%;
    }

    .portfolio_block-images {
        width: 310px;
    }

    .block-image {
        width: 135px;
    }

    .photo {
        max-width: 300px; 
    }

    .photo img {
        width: 100%;
    }

    .about-us__person-items {
        max-width: 300px;
    }

    .person-item {
        width: 300px;
        margin-right: 0px;
    }

    .form {
        width: 300px;
    }

    .input {
        width: 285px;
    }

    .contact-block {
        width: 300px;
    }

    #menu {
        margin-top: 25px;
    }

    .message {
        left: 9%;
    }

    .services__blocks-wrapper {
        margin: 0px;
        width: 310px;
    }

    .block-wrapper {
        margin-right: 0px;
    }
}